* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: rgb(240,240,240);
}

nav{
	padding-top: 66px;
	max-width: 1000px;
	margin: auto;
}

.header{
	text-align: center;
	padding-bottom: 35px;
}

.cover{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.slider-image{
	width: 100%;
	height: auto;
	position: absolute;
	top: -100px;
}
.slider-description{
	color: white;
	width: 30%;
	position: absolute;
	margin-top: 250px;
	margin-bottom: 16px;
	margin-left: 60%;
	margin-right: 0;
	background: rgba(0,0,0,0.7);
}

.slider-controller{
	text-align: center;
	width: 100%;
}

.slider-controller li{
	text-decoration: none;
	color: black;
	width: 10px;
	height: 10px;
	padding: 5px;
	border-radius: 100%;
	background-color: gray;
	display: inline-block;
}

.menu{
	border-top: 1px solid #333;
	border-bottom: 3px solid #333;
	text-align: center;
	display: block;
	margin-bottom: 32px;
}

li{
	display: inline-block;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}
.container{
	padding-top: 35px;
	max-width: 1000px;
	margin: auto;
}
h2 small{
	color: gray;
	font-size: 0.7em;
	font-weight: 100;
}