@font-face {
    font-family: 'dxd';
    src:    url('fonts/dxd.eot?ge7p8c');
    src:    url('fonts/dxd.eot?ge7p8c#iefix') format('embedded-opentype'),
        url('fonts/dxd.ttf?ge7p8c') format('truetype'),
        url('fonts/dxd.woff?ge7p8c') format('woff'),
        url('fonts/dxd.svg?ge7p8c#dxd') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dxd' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user2:before {
    content: "\e90f";
}
.icon-spinner6:before {
    content: "\e90e";
}
.icon-heart:before {
    content: "\e910";
}
.icon-rss:before {
    content: "\e90d";
}
.icon-DxD:before {
    content: "\e900";
}
.icon-tag:before {
    content: "\e904";
}
.icon-clock:before {
    content: "\e905";
}
.icon-comment:before {
    content: "\e906";
}
.icon-user:before {
    content: "\e901";
}
.icon-quotes-left:before {
    content: "\e902";
}
.icon-quotes-right:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e909";
}
.icon-view:before {
    content: "\e907";
}
.icon-share:before {
    content: "\e908";
}
.icon-google:before {
    content: "\e90a";
}
.icon-facebook:before {
    content: "\e90b";
}
.icon-twitter:before {
    content: "\e90c";
}

