* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: rgb(240,240,240);
}

nav{
	padding-top: 66px;
	max-width: 1000px;
	margin: auto;
}


/*Ng Animate*/
.fade{
	transition: all linear 0.5s;
	opacity: 1;
}

.ng-hide{
	opacity: 0;
}



.icon-back{
	position: relative;
}

.icon-back .icon-DxD{
	position: absolute;
	font-size: 4em;
	color: rgba(60,60,60,0.5);
	left: 50%;
	transform:translateX(-50%);
	z-index: -100;
	top: -20px;
}

.header{
	text-align: center;
	padding-bottom: 35px;
}

.cover{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.slider-image{
	width: 100%;
	height: auto;
	position: absolute;
	top: -100px;
}
.slider-description{
	color: white;
	width: 30%;
	position: absolute;
	margin-top: 250px;
	margin-bottom: 16px;
	margin-left: 60%;
	margin-right: 0;
	background: rgba(0,0,0,0.7);
}
.slider-description h3{
	padding-bottom: 6px;
}

.slider-controller{
	text-align: center;
	width: 100%;
	position: relative;
	bottom: 30px;
	left: 0;
}

.slider-btn{
	text-decoration: none;
	color: black;
	width: 10px;
	height: 10px;
	padding: 2px;
	margin: 5px;
	border-radius: 100%;
	display: inline-block;
	box-shadow: 2px -3px 2px rgba(0,0,0,0.8);
	background: gray; /* For browsers that do not support gradients */
 	background: -webkit-radial-gradient(circle, rgba(250,250,250,0.21), rgba(250,250,250,0.35), rgba(250,250,250,1));/* Safari */
  	background: -o-radial-gradient(circle, rgba(250,250,250,0.21), rgba(250,250,250,0.35), rgba(250,250,250,1)); /* Opera 11.6 to 12.0 */
  	background: -moz-radial-gradient(circle, rgba(250,250,250,0.21), rgba(250,250,250,0.35), rgba(250,250,250,1));; /* Firefox 3.6 to 15 */
  	background: radial-gradient(circle, rgba(250,250,250,0.21), rgba(250,250,250,0.35), rgba(250,250,250,1)); /* Standard syntax */
}
.slider-btn.active{
	background: white;
}

.menu{
	border-top: 1px solid #333;
	border-bottom: 3px solid #333;
	text-align: center;
	display: block;
	margin-bottom: 32px;
}

li{
	display: inline-block;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}
.container{
	max-width: 1000px;
	margin: auto;
}
h2 small{
	color: gray;
	font-size: 0.7em;
	font-weight: 100;
}