<div class='cover'>
	<div class='slider active' data-sliderpos='0'>
		<img class='slider-image' src="/images/cover.jpg">
		<div class='slider-description'>
			<h3> Bienvenido a Diseñados por Dios</h3>
			<p>Reflexiones para tu caminar con Dios.</p>
		</div>
	</div>
	<div class='slider' data-sliderpos='1'>
		<img class='slider-image' src="/images/ungranpoderconllevaunagranresponsabilidad.jpg">
		<div class='slider-description'>
			<h3>Titulo de la reflexion</h3>
			<p>Descripcion de la reflexion...</p>
		</div>
	</div>
	<div class='slider' data-sliderpos='2'>
		<img class='slider-image' src="/images/busca_primeramente_el_reino.jpg">
		<div class='slider-description'>
			<h3>Titulo de la reflexion</h3>
			<p>Descripcion de la reflexion...</p>
		</div>
	</div>
	<div class='slider' data-sliderpos='3'>
		<img class='slider-image' src="/images/losjovenesylapresionsocial.jpg">
		<div class='slider-description'>
			<h3>Titulo de la reflexion</h3>
			<p>Descripcion de la reflexion...</p>
		</div>
	</div>
	
	</div>
	<ul class='slider-controller'>
		<li class='slider-btn active' data-sliderpos='0'></li>
		<li class='slider-btn' data-sliderpos='1'></li>
		<li class='slider-btn' data-sliderpos='2'></li>
		<li class='slider-btn' data-sliderpos='3'></li>
	</ul>
</div>