<div ng-controller='sliderController'>
	<div class='cover'>
		<div class='slider fade' ng-repeat='info in slides' ng-show="slidePos === info.pos">
			<img class='slider-image' ng-src="{{info.image}}">
			<div class='slider-description'>
				<h3> {{info.title}}</h3>
				<p>{{info.description}}</p>
			</div>
		</div>
	</div>
	<ul class='slider-controller'>
		<li class='slider-btn' ng-click='slidePos = 0' ng-class="{'active':slidePos === 0 }"></li>
		<li class='slider-btn' ng-click='slidePos = 1' ng-class="{'active':slidePos === 1 }"></li>
		<li class='slider-btn' ng-click='slidePos = 2' ng-class="{'active':slidePos === 2 }"></li>
		<li class='slider-btn' ng-click='slidePos = 3' ng-class="{'active':slidePos === 3 }"></li>
	</ul>
</div>