<div ng-controller='sliderController'>
	<div class='cover-welcome'>
		<img src="/images/cover.jpg">
		<h4>Bienvenido a Diseñados por Dios</h4><hr>
	</div>
	<div class='cover'>
		<div class='slider fade' ng-repeat='info in slides' ng-show="slidePos == info.pos">
			<img class='slider-image' ng-src="{{info.picture}}">
			<div class='slider-description'>
				<h1 ng-bind-html="info.title"></h1>
				<small ng-hide='$first'> <span class="icon-view"></span> <span ng-bind-html='info.views'></span> | <span class="icon-heart"></span> <span ng-bind-html='info.likes'></span></small> <br>
				<small class='small-large'> <span ng-bind-html='info.description'></span> <span ng-hide='$first'>...</span></small>
			</div>
		</div>
	</div>
	<ul class='slider-controller'>
		<li class='slider-btn' ng-click='slidePos = 0' ng-class="{'active':slidePos === 0 }"></li>
		<li class='slider-btn' ng-click='slidePos = 1' ng-class="{'active':slidePos === 1 }"></li>
		<li class='slider-btn' ng-click='slidePos = 2' ng-class="{'active':slidePos === 2 }"></li>
		<li class='slider-btn' ng-click='slidePos = 3' ng-class="{'active':slidePos === 3 }"></li>
	</ul>
</div>